@import "frame.css";
@import "hero.css";
@import "texts.css";
@import "footer.css";
@import "../media-queries/index-media.css";

.index-layout {    
    grid-template-areas:
    "hd"
    "nav"
    "hero-box"
    "intro"
    "recent"
    "ft";
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: intro;
    padding-left: 10rem;
    padding-right: 10rem;
}

.intro-desc {
    font-size: 1.2rem;
    grid-area: title;
    color: #BFBABA;
    padding: 0 30rem;
    text-align: justify;
}

.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: recent;
}

.nested-cards {
    display: grid;
    grid-gap: 1rem;
    max-width: 65%;
    grid-area: recent;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 2rem;
}

.posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    background-color: #BFBABA;
}

.card-img {
    width: 100%;
    padding-bottom: 1rem;
}

.card-title {
    color: #403B3B;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    text-align: center;
}

.card-text {
    text-align: center;
    color: #735E5A;
    padding-left: 2rem;
    padding-right: 2rem;
}