.index-body {
    display: grid;
    border: 1px solid red;
    padding-left: 100px;
    padding-right: 100px;
    /* justify-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    grid-template-areas:
    "hd hd hd"
    "nav nav nav"
    "hero-image hero-image hero-image"
    "intro intro intro"
    "recent recent recent"
    "sub sub sub"
    "ft ft ft";
}

#site-header {
    display: grid;
    grid-area: hd;
    justify-items: center;
}

#navbar {
    display: grid;
    grid-area: nav;
    justify-items: center;
    grid-template-areas:
    "home north south usa about";
}

#home {
    grid-area: home;
}

#north {
    grid-area: north;
}

#south {
    grid-area: south;
}

#usa {
    grid-area: usa;
}

#about {
    grid-area: about;
}

#hero-image {
    grid-area: hero-image;
    justify-items: center;
}

#intro {
    display: grid;
    grid-area: intro;
    justify-items: center;
    grid-template-areas:
    "intro-title"
    "intro-desc";
}

.intro-title {
    grid-area: intro-title;
}

.intro-desc {
    grid-area: intro-desc;
}
#recent {
    display: grid;
    grid-area: recent;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    grid-template-areas:
    "title title title"
    "card-1 card-2 card-3"
    "card-4 card-5 card-6"
    "card-7 card-8 card-9";
}

.title {
    grid-area: title;
}

#card-1 {
    grid-area: card-1;
}

#card-2 {
    grid-area: card-2;
}

#card-3 {
    grid-area: card-3;
}

#card-4 {
    grid-area: card-4;
}

#card-5 {
    grid-area: card-5;
}

#card-6 {
    grid-area: card-6;
}

#card-7 {
    grid-area: card-7;
}

#card-8 {
    grid-area: card-8;
}

#card-9 {
    grid-area: card-9;
}

#sub {
    grid-area: sub;
    justify-items: center;
}

#footer {
    display: grid;
    grid-area: ft;
    justify-items: center;
    grid-template-areas:
    "social legal"
}

.social {
    grid-area: social
}

.legal {
    grid-area: legal;
}