.section-title {
    display: grid;
    grid-area: section-title;
    align-items: center;
    margin: 0;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    color: #F2F2F2;
    text-align: center;
}

.read-more {
    text-decoration: none;
    text-align: center;
    color: #403B3B;
}

.read-more-wrap {
    display: flex;
    justify-content: flex-end;
}

.read-more:hover {
    color: #F2F2F2;
}

.link {
    margin: 0 0 1rem;
}