@media (max-width: 375px) {
    .logo {
        width: 70%;
    }
    
    .navbar {
        flex-wrap: wrap;
    }

    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 2rem;
    }

    .img-caption {
        font-size: 1.5rem;
    }

    .about-box {
        padding: 0;
    }

    .about-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 2.4rem;
    }
}

@media (min-width: 376px) and (max-width: 1024px) {
    .logo {
        width: 50%;
    }
    
    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .about-box {
        padding: 0;
    }

    .about-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.2rem;
    }

    .social-text {
        font-size: 1.8rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
        filter: unset;
    }
}

@media (min-width: 1024px) and (max-width: 1680px) {
    .about-box {
        padding: 0;
    }
}