@media (max-width: 375px) {
    .logo {
        width: 70%;
    }
    
    nav {
        flex-wrap: wrap;
    }

    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 2rem;
    }
    
    .img-caption {
        font-size: 1.5rem;
    }

    .post-box {
        padding: 0;
    }

    .post-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 2.4rem;
    }

    .author-info {
        padding: 0 4rem;
        font-size: 2rem;
        align-items: unset;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 35% 1fr;
        grid-template-areas:
        "author-avatar author-name"
        "author-avatar author-title"
        "author-avatar author-company";
    }

    .author-bio {
        display: none;
    }
}

@media (min-width: 376px) and (max-width: 1024px) {
    .logo {
        width: 50%;
    }
    
    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .post-box {
        padding: 0;
    }

    .post-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.2rem;
    }

    .social-text {
        font-size: 1.8rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
        filter: unset;
    }

    .author-info {
        padding: 0 4rem;
        font-size: 1.2rem;
        margin: 0 0 1rem;
        align-items: unset;
        grid-template-rows: 18% 10% 1fr;
        grid-template-columns: 30% 0.4fr 1fr;
        grid-template-areas:
        "author-avatar author-name author-name"
        "author-avatar author-title author-company"
        "author-avatar author-bio author-bio";
    }

}

@media (min-width: 1024px) and (max-width: 1680px) {
    .post-box {
        padding: 0;
    }

    .author-info {
        padding: 0 10rem;
        font-size: 1.2rem;
        margin: 0 0 1rem;
        align-items: unset;
        grid-template-rows: 18% 10% 1fr;
        grid-template-columns: 30% 0.4fr 1fr;
        grid-template-areas:
        "author-avatar author-name author-name"
        "author-avatar author-title author-company"
        "author-avatar author-bio author-bio";
    }
}