@import "../css/index-style.css";

.about-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 10px;
    grid-template-areas:
    "hd"
    "nav"
    "about"
    "hero-box"
    "text"
    "ft";
}

.site-header {
    display: grid;
    grid-area: hd;
    justify-items: center;
    align-items: center;
}

.logo {
    margin: 1rem auto;
    width: 15%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: nav;
    color: #A68F8A;
}

.nav-button {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.img-caption {
    text-align: right;
    color: #A68F8A;
}

figure {
    margin: 0;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: about;
    padding-left: 20rem;
    padding-right: 20rem;
}

.about-text {
    grid-area: text;
}

.about-content {
    grid-area: content;
    font-size: 1.2rem;
    color: #BFBABA;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;
    justify-self: center;
}


@media (max-width: 375px) {
    .logo {
        width: 70%;
    }
    
    .navbar {
        flex-wrap: wrap;
    }

    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 2rem;
    }

    .img-caption {
        font-size: 1.5rem;
    }

    .about-box {
        padding: 0;
    }

    .about-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 2.4rem;
    }
}

@media (min-width: 376px) and (max-width: 1024px) {
    .logo {
        width: 50%;
    }
    
    .nav-button {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .about-box {
        padding: 0;
    }

    .about-content {
        padding-left: 4rem;
        padding-right: 4rem;
        font-size: 1.2rem;
    }

    .social-text {
        font-size: 1.8rem;
    }

    .icon {
        width: 6rem;
        height: 6rem;
        filter: unset;
    }
}

@media (min-width: 1024px) and (max-width: 1680px) {
    .about-box {
        padding: 0;
    }
}