@import "../css/index-style.css";

.post-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 10px;
    grid-template-areas:
    "hd"
    "nav"
    "hero-box"
    "post-box"
    "inline-img"
    "post-text"
    "author-info"
    "ft";
}

header {
    display: grid;
    grid-area: hd;
    justify-items: center;
    align-items: center;
}

.logo {
    margin: 1rem auto;
    width: 15%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: nav;
    color: #A68F8A;
}

.nav-button {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.img-caption {
    text-align: right;
    color: #A68F8A;
}

figure {
    margin: 0;
}

.post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: post-box;
    padding-left: 20rem;
    padding-right: 20rem;
}

.post-text {
    grid-area: post-text;
}


.post-content {
    font-size: 1.2rem;
    color: #BFBABA;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;
    justify-self: center;
}

.inline-img {
    display: grid;
    position: relative;
    grid-area: inline-img;
    justify-items: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

.author-info {
    display: grid;
    padding: 0 30rem 0 30rem;
    font-size: 1.2rem;
    align-items: center;
    color: #A68F8A;
    grid-template-rows: 23% 23% 1fr;
    grid-template-columns: 15% 10% 1fr;
    grid-template-areas:
    "author-avatar author-name author-name"
    "author-avatar author-title author-company"
    "author-avatar author-bio author-bio";
}

.author-avatar {
    grid-area: author-avatar;
}

.author-avatar img {
    border-radius: 50%;
    width: 90%;
}

.author-name {
    grid-area: author-name;
}

.author-title {
    grid-area: author-title;
}

.author-company {
    grid-area: author-company;
}

.author-bio {
    grid-area: author-bio;
    text-align: justify;
}